// Colors
$Kingston_White = white
$Kingston_Black = rgba(0,0,0,0.87)
$Kingston_Black54 = rgba(0, 0, 0, 0.54)
$Kingston_BlackBg = #212121
$Kingston_LightGray = rgba(0,0,0,0.38)
$Kingston_LightGray12 = rgba(0,0,0,0.12)
$Kingston_LightBg = #EEEEEE
$Kingston_Red = #DB2627
$Kingston_Pink = #FF8A80
$Kingston_Green = #00C097
$Kingston_DarkGreen = #26A69A
$Kingston_Gold = #E0B300
$Kingston_LightRed = #FF2F30

// Device width
$sm = 600px
$md = 960px
$lg = 1264px
$xl = 1904px